@import url('https://fonts.googleapis.com/css?family=Karla');

// Colors
$primaryColor: #388;
$secondaryColor: #838;
$linkColor: $secondaryColor;
$sidebarBackground: #FFF;

// Fonts
$primaryFontFamily: "Karla", sans-serif;

// Breakpoints
$lg: 1200px;
$sm: 768px;

// Sizes
$sidebarWidth: 250px;